.container{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 10vh 80vh 10vh;
row-gap: 10px;
column-gap: 10px;
grid-template-areas: 
"item-1 item-1 item-1 item-1 item-1"
"item-2 item-3 item-3 item-3 item-4"
"item-5 item-5 item-5 item-5 item-5";
}

.item-1 {
    display: grid;
    grid-template-columns: 85vw 15vw;
    grid-area: item-1;
    background-color: red;
    align-content: center;
}
nav{
    grid-column-start: 2;
}
.item-2{
grid-area: item-2;
background-color: red;
}
.item-3{
grid-area: item-3;
background-color: red;
}
.item-4{
grid-area: item-4;
background-color: red;

}
.item-5{
grid-area: item-5;
background-color: red;

}